* {
    color: lightgray;
    font-family: monospace;
    font-weight: normal;
    margin: 0;
}

body {
    max-width: 650px;
    
    margin: auto auto;
    padding: 1rem;

    background-color: #111111;
}

header {
    padding: 1rem 0;
    margin-bottom: 2rem;
    border-bottom: solid 1px lightgray;
}

article {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

article * {
/*    margin-bottom: 1rem;*/
}

footer {
    padding: 1rem 0;
    margin-top: 2rem;
    border-top: solid 1px lightgray;
}

h1 {
    font-size: 1.75rem;
    margin-bottom: 1rem;
}

h2 {
    font-size: 1.25rem;
    margin-bottom: 0.25rem;
}

h3, h4, h5, h6 {
    font-size: 1.1rem;
    margin-bottom: 0.25rem;
}

img {
    max-width: 100%;
    max-height: 450px;
    margin-bottom: 0;
}

blockquote {
    padding-left: 2rem;
    font-style: italic;
}

a {
    color: lightgray;
    text-decoration: underline;
    text-decoration-style: solid;
}

a:hover {
    color: white;
}

strong {
    font-weight: bolder;
}

p {
    width: 100%;
/*    margin-bottom: 1rem;*/
}

ul, ol {
    padding-left: 2rem;
}

ul li {
    margin-bottom: 0.25rem;
}

ol li {
    margin-bottom: 0.25rem;
}

table {
    width: 100%;
    table-layout: auto;
    border-collapse: collapse;
    border-spacing: 0;
    border: none;
    white-space: nowrap;
}

table .absorbing-column {
    width: 100%;
}

tr td {
    padding-right: 1rem;
    margin-bottom: 0.5rem;
}

tr td:last-child {
    padding-right: 0;
    padding-bottom: 0;
}

nav ul {
    padding: 0;
    margin: 0;

    display: flex;
    flex-wrap: wrap;

    list-style-type: none;
}

nav ul li:not(:last-child)::after {
    display: inline-block;
    margin: 0 0.5rem;
    content: "|";
}

nav ul .selected {
    font-weight: bold;
    color: white;
}

nav ul .selected::after {
    color: lightgray;
}

.dim {
    color: gray;
}

.clean-list {
    list-style: none;
    padding: 0;
}
